ion-icon{
    font-size: 2rem;
}
ion-icon:focus {
    outline: none;
}
ion-content {
  --background: rgba(239, 231, 255, 0.931);;
  }
.main-section {
    h3 {
        padding-bottom: 0;
    }
    .from{
        //  border: 1px solid rgb(0, 0, 0);
        border-radius: 7px;

        ion-select {
            border: 1px solid #000000;
            border-radius: 17px;
        }

        ion-input{
            border: 1px solid #003cff;
            margin: 20px 0;
            border-radius: 17px;
            --padding-start: 23px;
        }

        ion-button{
            width: 100%;
            --border-radius: 17px;
        }
    }
}

ion-item {
    --background: #ffffff;
    h2 {
      font-weight: bold;
      font-size: 20px;
      color: #000000;
    }
  }
  
  ion-item:last-of-type {
    div {
      padding-bottom: 20px;
    }
    border-radius: 0 0 20% 20%;
  }
  
  ion-searchbar {
    --box-shadow: none;
    --border-radius: 10px;
    opacity: .96;
    padding: 0;
    margin: 12px 0;
  }
  
  ion-col {
    padding: 0;
  }
  
  // ::ng-deep .searchbar-search-icon {
  //   color: #316dd0 !important;
  // }
  
  
  ion-card {
    padding: 6px;
    box-shadow: none;
    box-shadow: 0px 3px 45px 0px rgba(0, 0, 0, 0.16);
    border-radius: 30px;
  
    ion-img {
      width: 200px;
      margin: 0 auto;
    }
  }

